.search {
  box-sizing: border-box;
  padding:  10px;
  display: flex;
  justify-content: flex-start;
  align-items: top;
  flex-wrap: wrap;
  width:  100%;
  background-color: #2ab8b0
}
.container{
  box-sizing: border-box;
  max-width:  100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items:center;
  padding: 20px;
}
.item{
  margin-right: 20px;
  margin-left: 20px;
}